{% extends "base.html" %}

{#  номер лабораторной работы: #}
{% block lab %}Лабораторная работа 9{% endblock %}

{% block script %}{% endblock %}

{% block main %}
    <h1>Новогодняя открытка</h1>
    <form method="POST">
        <label for="gender">Укажите ваш пол:</label>
        <select id="gender" name="gender" required>
            <option value="male">Мужской</option>
            <option value="female">Женский</option>
        </select>
        <button type="submit">Далее</button>
    </form>
{% endblock %}