{% extends "base.html" %}

{#  номер лабораторной работы: #}
{% block lab %}Лабораторная работа 9{% endblock %}

{% block script %}{% endblock %}

{% block main %}
    <h1>Новогодняя открытка</h1>
    <form method="POST">
        <label for="taste">Что вам больше нравится?</label>
        <select id="taste" name="taste" required>
            <option value="sweet">Сладкое</option>
            <option value="hearty">Сытное</option>
        </select>
        <button type="submit">Далее</button>
    </form>
{% endblock %}