{% extends "base.html" %}

{#  номер лабораторной работы: #}
{% block lab %}Лабораторная работа 3{% endblock %}

{# основной контент: #}
{% block main %}
    <h1>Ваш билет</h1>
    <p><strong>ФИО пассажира:</strong> {{ full_name }}</p>
    <p><strong>Тип билета:</strong> {{ ticket_type }}</p>
    <p><strong>Цена билета:</strong> {{ ticket_price }} руб.</p>
    <p><strong>Пункт выезда:</strong> {{ departure_point }}</p>
    <p><strong>Пункт назначения:</strong> {{ destination_point }}</p>
    <p><strong>Дата поездки:</strong> {{ travel_date }}</p>

    <div>
        <a href="/lab3/train">Вернуться к оформлению</a>
    </div>
{% endblock %}
