{% extends "base.html" %}

{% block lab %}Редактирование статьи{% endblock %}

{% block main %}
    <h1>Редактировать статью</h1>
    <form method="POST">
        <label for="title">Тема:</label>
        <input type="text" id="title" name="title" value="{{ article.title }}" required>
        <br>
        <label for="article_text">Текст статьи:</label>
        <textarea id="article_text" name="article_text" required>{{ article.article_text }}</textarea>
        <br>
        <button type="submit">Сохранить</button>
    </form>
    <a href="{{ url_for('lab5.list') }}">Назад к списку статей</a>
{% endblock %}