{% extends "base.html" %}

{% block lab %}Список статей{% endblock %}

{% block main %}
    <h1>Мои статьи</h1>
    {% if not articles %}
        <p>У вас пока нет статей.</p>
    {% else %}
        <ul>
            {% for article in articles %}
                <li>
                    <h2>{{ article.title }}</h2>
                    <p>{{ article.article_text }}</p>
                    <p>Любимая: {{ 'Да' if article.is_favorite else 'Нет' }}</p>
                    <p>Публичная: {{ 'Да' if article.is_public else 'Нет' }}</p>
                    <a href="{{ url_for('lab5.edit_article', article_id=article.id) }}">Редактировать</a>
                    <form action="{{ url_for('lab5.delete_article', article_id=article.id) }}" method="POST" style="display:inline;">
                        <button type="submit">Удалить</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    <h1>Публичные статьи</h1>
    {% if not public_articles %}
        <p>Нет публичных статей.</p>
    {% else %}
        <ul>
            {% for article in public_articles %}
                <li>
                    <h2>{{ article.title }}</h2>
                    <p>{{ article.article_text }}</p>
                    <p>Любимая: {{ 'Да' if article.is_favorite else 'Нет' }}</p>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    <a href="{{ url_for('lab5.create') }}">Создать новую статью</a>
{% endblock %}