body {
    background-color: #00335f; 
    color: #cce6ff; 
    font-family: Arial, sans-serif;
    text-align: center;
}

header {
    background-color: #296994;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

footer {
    background-color: #333;
    color: white; 
    padding: 10px 20px;
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
}

h1 {
    font-size: 2em;
}

p {
    font-size: 1em;
    margin: 15px 0;
}

.oak-image, .student-logo, .python-image, .custom-image{
    width: auto; /* Ширина изображения */
    height: auto; /* Высота зависит от ширины */
    border: 5px solid #c8e5ff; /* Обводка изображения */
    border-radius: 10px; /* Скругление углов изображения */
    margin: 20px; /* Отступы для симпатичного отображения */
}

/* Стили для списка */
ul {
    list-style-type: none; /* Убираем маркеры */
    padding: 0; /* Убираем отступы */
}

li {
    margin: 10px 0; /* Отступы между элементами */
}

a {
    text-decoration: none; 
    color: #34d0ff; 
    font-size: 1.2em; 
    transition: color 0.3s; 
}

a:hover {
    color: #5d22ff; 
}

a:visited {
    color: #acacac; 
}
